<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | OpenBid</title>
    <link rel="stylesheet" th:href="@{/css/about.css}" />
</head>
<body>

<header>
    <div class="logo">OpenBid</div>
    <nav class="nav-links">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/about}">About</a>
        <a th:href="@{/contact}">Contact</a>
        <a th:href="@{/sell}">Sell</a>
    <span th:if="${session.user != null && session.user.username == 'admin'}">
      <a th:href="@{/panel}">Panel</a>
    </span>
        <span th:if="${session.user != null}">
      <a th:href="@{/profile}" th:text="Profile"></a>
      <a th:href="@{/logout}">Logout</a>
    </span>

        <a th:if="${session.user == null}" th:href="@{/login}">Login</a>
    </nav>
</header>

<main class="about-section">
    <h1>New requests.. etc.. to do</h1>
    <p> To do</p>
</main>

<footer>
    © 2025 OpenBid. All rights reserved.
</footer>

</body>
</html>
